[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
editable=false

[requires]
python_version = "3"

[dev-packages]

[packages]
mkdocs = "*"
sphinx = "*"
sphinx-tabs = "*"
sphinx_rtd_theme = "*"
sphinxcontrib.yt = "*"
docutils = "*"
